html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(187, 187, 187, 0.25);
    color: rgba(0,0,0,.75);
    margin-left: 5px;
    text-align: justify;
}

pre {
    background-color: black;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    padding: 10px;
    overflow-x: auto;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.tabButton {
    margin: 2px 0 0 2px;
    padding: 10px 25px;
    border: 0;
    background: inherit;
    color: #000000;
    font-weight: normal;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    appearance: none;
}

.tabButtonActive {
    margin: 2px 0 0 2px;
    padding: 10px 25px;
    border: 0;
    background: #c9c9c9;
    color: #000000;
    font-weight: normal;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    appearance: none;
}

.tabButton:hover {
    background: #c9c9c9;
}

.tabContents {
    margin: 20px;
}