:root[data-theme='light'] {
    --light-theme-base-color-1: #202020;
    --light-theme-base-color-2: #ffffff;

    --background-color: rgba(255, 255, 255, 0.25);
    --font-color: var(--light-theme-base-color-1);
    --hr-color: rgba(0, 0, 0, 0.15);
    --font-color-hover: #cbcbcb;
    --home-navigator-background-hover: #c9c9c9;
    --a-color: var(--light-theme-base-color-1);
    --tag-link-color: var(--light-theme-base-color-1);
    --tag-link-color-hover: #505050;
    --pagination-button-font-color: var(--light-theme-base-color-2);
    --pagination-button-font-color-hover: #c2c2c2;
    --current-pagination-button-font-color: var(--light-theme-base-color-1);
    --current-pagination-button-font-color-hover: var(--light-theme-base-color-1);
    --pagination-button-background: var(--light-theme-base-color-1);
    --radio-button-accent-color: var(--light-theme-base-color-1);
    --checkbox-button-accent-color: var(--light-theme-base-color-1);
    --content-search-input-border-color: var(--light-theme-base-color-1);
    --text-to-highlight-color: yellow;

    --bio-group-border-color: var(--light-theme-base-color-1);
    --bio-group-background: white;
    --bio-group-background-hover: #f3f2f2;
    --active-bio-group-font-color: white;
    --active-bio-group-background: var(--light-theme-base-color-1);
    --active-bio-group-background-hover: #343434;
    --bio-group-iconish-background: #f3f2f2;
    --bio-item-border-color: var(--light-theme-base-color-1);
    --bio-item-background: none;
    --bio-item-background-hover: #f3f2f2;
    --bio-item-info-container-border-color: #bcbcbc;
    --info-gray-icon-url: url("/public/info-gray.svg");

    --logout-button-border-color: var(--light-theme-base-color-1);
    --logout-button-font-color: var(--light-theme-base-color-1);
    --logout-button-font-color-hover: var(--light-theme-base-color-2);
    --logout-button-background: var(--light-theme-base-color-2);
    --logout-button-background-hover: var(--light-theme-base-color-1);

    --login-register-buttons-border-color: var(--light-theme-base-color-1);
    --login-register-buttons-font-color: var(--light-theme-base-color-2);
    --login-register-buttons-font-color-hover: var(--light-theme-base-color-2);
    --login-register-buttons-background: var(--light-theme-base-color-1);
    --login-register-buttons-background-hover: #474747;

    --graph-box-shadow-color: var(--light-theme-base-color-1);
    --graph-page-info-text-font-color: var(--light-theme-base-color-1);

    --eksi-konserve-background-color: #dcffce;
    --eksi-konserve-border-color: green;
    --eksi-konserve-div-a-color: darkblue;
    --eksi-konserve-div-a-color-hover: rgb(128, 128, 128);
    --eksi-konserve-button-border-color: #000;
    --eksi-konserve-button-font-color: var(--light-theme-base-color-1);
    --eksi-konserve-button-background: var(--light-theme-base-color-2);

}